body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

.container{
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border: 1px solid #ddd;
}

h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 5px;
}

h2 {
    color: #444;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}